body{
    width: 70%;
    height: 70%;
    border: 3px solid #984;
    text-align: center;
}

.container{
    color: rgb(20, 206, 150);
}

.cabecera{
    color: rgba(19, 160, 216, 0.787);
    background: #333;
}