body{
    width: 70%;
    height: 70%;
    border: 1px solid #333;
    text-align: center;
}

.container{
    color: rgb(206, 20, 20);
}

.cabecera{
    color: rgba(19, 160, 216, 0.787);
    background: #333;
}